

<mat-grid-list cols="4" gutterSize="0px" rowHeight=700px>
    <mat-grid-tile><webgoodlist class="fullbox"></webgoodlist></mat-grid-tile>
    <mat-grid-tile><webgoodlist class="fullbox"></webgoodlist></mat-grid-tile>
    <mat-grid-tile><webgoodlist class="fullbox"></webgoodlist></mat-grid-tile>
    <mat-grid-tile><webgoodlist class="fullbox"></webgoodlist></mat-grid-tile>
</mat-grid-list>

<!-- <div fxLayout="row">
    <webgoodlist fxFlex class="fullbox"></webgoodlist> 
    <webgoodlist fxFlex class="fullbox"></webgoodlist> 
    <webgoodlist fxFlex class="fullbox"></webgoodlist> 
    <webgoodlist fxFlex class="fullbox"></webgoodlist> 
</div>  -->
