

<mat-grid-list [cols]="showfilials ?  4 : 1" gutterSize="0px" rowHeight="fit" class="grid-container">
    <mat-grid-tile *ngIf="showfilials"><webdirtygoodlist filialname='vopak'  class="fullbox"></webdirtygoodlist></mat-grid-tile>
    <mat-grid-tile *ngIf="showfilials"><webdirtygoodlist filialname='luxor'  class="fullbox"></webdirtygoodlist></mat-grid-tile>
    <mat-grid-tile *ngIf="showfilials"><webdirtygoodlist filialname='dastor' class="fullbox"></webdirtygoodlist></mat-grid-tile>
    <mat-grid-tile><webgoodlist [ngClass]="{'fullbox': showfilials, 'halfbox': !showfilials}"  (ShowFilials) = "OnShowFilialsChange($event)" ></webgoodlist></mat-grid-tile>

</mat-grid-list>



<!-- <div fxLayout="row">
    <webgoodlist fxFlex class="fullbox"></webgoodlist> 
    <webgoodlist fxFlex class="fullbox"></webgoodlist> 
    <webgoodlist fxFlex class="fullbox"></webgoodlist> 
    <webgoodlist fxFlex class="fullbox"></webgoodlist> 
</div>  -->
