<mat-card class="fill card">

    <mat-card-subtitle> Данные доставки </mat-card-subtitle>

    <form [formGroup]="form">


        <mat-form-field id='fieldadress'   color='accent' class="w-fill" appearance="outline">
            <input [matAutocomplete]="auto" required formControlName='addres' #inputadress matInput (input)="OnAddresInput()" (blur)="UpdateHeader()">
            <!-- <mat-hint> Заполнить обязательно </mat-hint> -->
            <mat-label>Адресс </mat-label>
            <button mat-button matPrefix mat-icon-button aria-label="Clear" (click)="ClearAdress()">
                <mat-icon>close</mat-icon>
            </button>

            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let street of streetsByname$ | async" [value]="street.name">
                  {{street.name}}
                </mat-option>
            </mat-autocomplete>

            <button class="inpupsuffix" mat-button matSuffix mat-icon-button aria-label="Save" (click)="SaveAddres()" >
              <mat-icon>save</mat-icon>
            </button>

            <button class="inpupsuffix" mat-button matSuffix mat-icon-button aria-label="Refresh" (click)="RefreshAddres()">
            <mat-icon>refresh</mat-icon>
            </button>


        </mat-form-field>

        <div class="spacer"> </div>

        <mat-form-field [matTooltip]="getErrorMessage('phone')" matTooltipClass="error-tooltip" matTooltipPosition='above' id='fieldphone'  color='accent' class="w-fill" appearance="outline">
            <input prefix="+38 " mask="(000) 000 00 00"  required formControlName='phone' #inputphone matInput (blur)="UpdateHeader()">

            <!-- <mat-hint> поиск по всем столбцам </mat-hint> -->
            <mat-label>Телефон</mat-label>
            <button mat-button matPrefix mat-icon-button aria-label="Clear" (click)="ClearPhone()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <div class="spacer"> </div>

        <mat-form-field id='fieldcomment'  color='accent' class="w-fill" appearance="outline">
            <input formControlName='comment' #inputcomment matInput (blur)="UpdateHeader()">
            <!-- <mat-hint> поиск по всем столбцам </mat-hint> -->
            <mat-label>Коментарий</mat-label>
            <button mat-button matPrefix mat-icon-button aria-label="Clear" (click)="ClearComment()">
                <mat-icon>close</mat-icon>
            </button>

    </mat-form-field>


    </form>
</mat-card>
