@import '~@angular/material/theming';

// Create a config with the default typography levels.
$config: mat-typography-config($title: mat-typography-level(12px, 12px, 400),
  $button: mat-typography-level(12px, 12px, 400),
  $subheading-1: mat-typography-level(14px, 14px, 500));

.title-small {
  font-size: mat-font-size($config, title);
  line-height: mat-line-height($config, title);
}

.title-sub {
  font-size: mat-font-size($config, subheading-1) !important;
  line-height: mat-line-height($config, subheading-1) !important;
}

.currentblock {
  color: red;
}

.price-in-list {
  color: map-get($mat-light-blue, 700);
  margin-right: 2px;
}

mat-card-subtitle {
  margin-top: 18px;
}

mat-list-item {
  height: 30px !important;
}

mat-list {
  max-height: 580px;
}

mat-card {
  padding-top: 4px;
  padding-bottom: 4px;
}

mat-card-footer {
  background-color: map-get($mat-grey, 100);
}


mat-list-item {
  padding-top: 5px !important;
}
