@import '~@angular/material/theming';
mat-card-subtitle {
    margin-top: 18px;
}

mat-list {
    height: 400px;
    overflow-y: scroll;
}

.currentblock {
    color: red;
}

mat-card-footer {
    background-color : map-get($mat-grey, 100);
}