@import '~@angular/material/theming';

// Create a config with the default typography levels.


$config: mat-typography-config(
    $title: mat-typography-level(12px, 12px, 400),
    $button: mat-typography-level(12px, 12px, 400),
    $subheading-1: mat-typography-level(14px, 14px, 500)
);

@include mat-core();

$app-primary: mat-palette($mat-grey, 200, 400, 600);
$app-accent: mat-palette($mat-light-blue, 700, 700, 700);
$app-warn: mat-palette($mat-red);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);



.active {
  color: map-get($mat-light-blue, 700);
  text-transform: uppercase;
  font-weight: bold;
}

.item-text {
    line-height: 25px;
    font-size: inherit;
    font-weight: inherit;
}

.avatar {
  max-height: 35px;
  border-radius: 4px;
}

.title-small {
  font-size: mat-font-size($config, title);
  line-height: mat-line-height($config, title);
}

.my-2 {
  margin-top: 2px;
  margin-bottom: 2px;
}
.mx-2 {
  margin-left: 2px;
  margin-right: 2px;
}

.height-70 {
  min-height: 70%;

}

mat-icon {
  font-family: 'Material Icons' !important;
}

mat-nav-list {
  padding-top: 0px;
}

mat-list-item {
  min-width: 200px;
}

.stickycontainertop {
  position: sticky;
  top: 0;
  z-index: 1;
}
