<mat-card>
    <mat-card-subtitle>
        <small class="small">ФИЛИАЛ:</small>
        <span class="spacer"></span>
        <mat-radio-group class="radio-group" color='warn' [(ngModel)]="filial" (change)="OnFilialChange()">
            <!-- <mat-radio-button value="empty">
                <span class="radio-lable">Не выбран</span>
            </mat-radio-button> -->

            <mat-radio-button value="luxor">
                <span class="radio-lable">ЛЮКСОР</span>
            </mat-radio-button>

            <mat-radio-button value="dastor">
                <span class="radio-lable">ДАСТОР</span>
            </mat-radio-button>
            <mat-radio-button value="vopak">
                <span class="radio-lable">ВОПАК</span>
            </mat-radio-button>
        </mat-radio-group>


    </mat-card-subtitle>
    <mat-card-subtitle>
      <small class="small">РАССЧЕТ:</small>
      <span class="spacer"></span>

      <mat-radio-group class="radio-group" color='warn' [(ngModel)]="paytype" (change)="OnPaytypeChange()">
      <!-- <mat-radio-button value="empty">
          <span class="radio-lable">Не выбран</span>
      </mat-radio-button> -->

      <mat-radio-button value="1">
          <span class="radio-lable">Наличными</span>
      </mat-radio-button>

      <mat-radio-button value="2">
          <span class="radio-lable">Безналичными</span>
      </mat-radio-button>
  </mat-radio-group>
</mat-card-subtitle>
</mat-card>


<ng-template #inputCell let-edit="edit">

  <input
    matInput
    #editmatinput="matInput"
    (focus)="OnEditFocus($event)"
    (blur)="OnEditLeave(edit)"
    (keyup.enter)="OnEditLeave(edit)"
    [(ngModel)]="edit[edit.EditCellName]"
    type="text"
    style="width: 95px; background-color: grey; color: white; padding: 2px; border: 2px; border-radius: 2%; border-color: red;">

</ng-template>

<ng-template #outputCell let-show="show">
    {{show}}
</ng-template>

<mat-tab-group backgroundColor="primary">
  <mat-tab #GoodsTab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">fastfood</mat-icon>
      Goods
    </ng-template>

    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="good">
          <mat-header-cell class="table-cell table-left-cell table-header-cell" *matHeaderCellDef mat-sort-header> Товар </mat-header-cell>
          <mat-cell class="table-cell table-left-cell" *matCellDef="let record"> <small
                  class="GoodNameInTable">{{record.good.name}} </small></mat-cell>
          <mat-footer-cell *matFooterCellDef class="table-footer-cell"  > Итого </mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="quantity">
          <mat-header-cell class="table-cell table-header-cell" *matHeaderCellDef mat-sort-header> Количество </mat-header-cell>
          <mat-cell  (click)="OnCellClick(record,'quantity')"  class="table-cell" *matCellDef="let record">
            <!-- <ng-container *ngTemplateOutlet= inputCell;context:{edit:record}></ng-container> -->
            <!-- <ng-container *ngTemplateOutlet= outputCell;context:{ShowData:record.quantity}></ng-container> -->
            <ng-container
            [ngTemplateOutlet] = "record.EditCellName === 'quantity' ? inputCell : outputCell"
            [ngTemplateOutletContext]="record.EditCellName === 'quantity' ? {edit:record } : {show:record.quantity}">
            </ng-container>


          </mat-cell>
          <mat-footer-cell *matFooterCellDef class="table-footer-cell"  >  {{ total }} </mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="price">
          <mat-header-cell class="table-cell table-header-cell" *matHeaderCellDef mat-sort-header> Цена </mat-header-cell>
          <mat-cell  class="table-cell" *matCellDef="let record; first as isFirst" >{{isFirst}} {{record.good.price}}</mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>


      <ng-container matColumnDef="comment">
          <mat-header-cell class="table-cell table-header-cell" *matHeaderCellDef mat-sort-header> Коментарий </mat-header-cell>
          <mat-cell (click)="OnCellClick(record,'comment')"  class="table-cell" *matCellDef="let record" >
            <ng-container
              [ngTemplateOutlet] = "record.EditCellName === 'comment' ? inputCell : outputCell"
              [ngTemplateOutletContext]="record.EditCellName === 'comment' ? {edit:record} : {show:record.comment}">
            </ng-container>
          </mat-cell>

          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>


      <ng-container matColumnDef="buttonsgroup">
          <mat-header-cell class="table-cell table-header-cell" *matHeaderCellDef> Действия</mat-header-cell>

          <mat-cell class="table-cell" *matCellDef="let record">
              <button color='warn' mat-icon-button (click)="IncrQuantity(record)">
                  <mat-icon>add</mat-icon>
              </button>
              <button (click)="DecrQuantity(record)" mat-icon-button>
                  <mat-icon>remove</mat-icon>
              </button>
              <button (click)="Del(record)" mat-icon-button>
                  <mat-icon>delete</mat-icon>
              </button>

          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>

      <mat-header-row class="table-row" *matHeaderRowDef="displayedColumns ; sticky: true"></mat-header-row>
      <mat-footer-row  class="table-row" *matFooterRowDef="displayedColumns"></mat-footer-row>
      <mat-row *matRowDef="let row; columns: displayedColumns" class="table-row"></mat-row>

    </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">local_dining</mat-icon>
      Cutlery
    </ng-template>


    <mat-table [dataSource]="cutleryDataSourse" >
      <ng-container matColumnDef="name">
          <mat-header-cell class="table-cell table-left-cell table-header-cell" *matHeaderCellDef > Прибор </mat-header-cell>
          <mat-cell class="table-cell table-left-cell" *matCellDef="let record"> <small
                  class="GoodNameInTable">{{record.name}} </small></mat-cell>

      </ng-container>

      <ng-container matColumnDef="quantity">
          <mat-header-cell class="table-cell table-header-cell" *matHeaderCellDef > Количество </mat-header-cell>
          <mat-cell  (click)="OnCutleryCellClick(record,'quantity')"  class="table-cell" *matCellDef="let record">
            <!-- <ng-container *ngTemplateOutlet= inputCell;context:{edit:record}></ng-container> -->
            <!-- <ng-container *ngTemplateOutlet= outputCell;context:{ShowData:record.quantity}></ng-container> -->
            <ng-container
            [ngTemplateOutlet] = "record.EditCellName === 'quantity' ? inputCell : outputCell"
            [ngTemplateOutletContext]="record.EditCellName === 'quantity' ? {edit:record } : {show:record.quantity}">
            </ng-container>


          </mat-cell>

      </ng-container>





      <mat-header-row class="table-row" *matHeaderRowDef="displayedCutleryColumns ; sticky: true"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedCutleryColumns" class="table-row"></mat-row>

    </mat-table>



  </mat-tab>

</mat-tab-group>

